{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Pet List</h1>
  {% if pet_list %}
  <ul>
    {% for pet in pet_list %}
      <li>
          {{ pet.nickname }} ({{ cat.type }})
          (<a href="{% url 'pets:pet_update' pet.id %}">Update</a> |
          <a href="{% url 'pets:pet_delete' pet.id %}">Delete</a>) <br/>
          Will come home with you for: ${{ pet.cost }} and is: {{ pet.age }} year(s) old.
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no pets in the store.</p>
  {% endif %}
  <p>
    {% if type_count > 0 %}
      <a href="{% url 'pets:pet_create' %}">Add a pet</a>
    {% else %}
      Please add a pet type before you add a pet.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'pets:type_list' %}">View types</a> ({{ type_count }}) |
    <a href="{% url 'pets:type_create' %}">Add a type</a>
    <!-- I wanted to add some flare and change just the html a bit but the autograder asks for specific things :(-->
  </p>
{% endblock %}