{% extends "base_menu.html" %}
{% block content %}
<h1>Family</h1>

<p>
{% if family_list %}
<ul>
  {% for family in family_list %}
    <li>
        <a href="{% url 'gifts:family_detail'  family.id %}">{{ family.name }}</a>
        {% if family.owner == user %}
        (<a href="{% url 'gifts:family_update' family.id %}">Edit</a> |
        <a href="{% url 'gifts:family_delete' family.id %}">Delete</a>)
        {% endif %}

        {% if user.is_authenticated %}
        <a href="{% url 'gifts:family_join' %}">Join this family</a> |
        {% endif %}


    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no familys in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'gifts:family_create' %}">Add a family</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'gifts:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'gifts:all' %}">Login</a>
{% endif %}
</p>



<script>
function favPost(url, family_id) {
    console.log('Requesting JSON');
    $.post(url, {},  function(rowz){
        console.log(url, 'finished');
        $("#unfavorite_star_"+family_id).toggle();
        $("#favorite_star_"+family_id).toggle();
    }).fail(function(xhr) {
        alert('Url failed with '+xhr.status+' '+url);
    });
}
</script>


{% endblock %}